{% extends 'AppKyle/base.html' %}

{% load static %}


{% block main %}

<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <ul class="table-responsive">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <p class="display-6">Estas seguro de borrar {{gastos.detalle}} ??? </p>
                            <input class="btn btn-primary rounded-pill mt-0" type="submit" value="Borrar">
                        </form>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock main %}